<div class="container">
    <h2 class="fs-title">Personal Information</h2> 
    <!-- <form [formGroup] ="form"   class="example-form"> -->
              
                      
          <mat-form-field class="example-full-width">
            <input matInput placeholder="First Name">
          </mat-form-field>
    
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Last Name">
          </mat-form-field>
<p>
          <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
            <mat-button-toggle value="Male">Male</mat-button-toggle>
            <mat-button-toggle value="Female">Female</mat-button-toggle>
          </mat-button-toggle-group>
        </p>
          <mat-form-field class="example-full-width">
            <input matInput placeholder="City">
          </mat-form-field>
  
               <p>
          <mat-form-field class="example-full-width">
              <input matInput placeholder="Email">
            </mat-form-field>
     
        </p>
          <p>
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Phone">
            </mat-form-field>
            </p>
       
       
      <!-- </form> -->
</div>
