<p>additional-profile works!</p>
<div class="row">
    <div class="col-lg-12">
        <h2 class="fs-title">Additional Information</h2> 
        <!-- <form [formGroup] ="form"   class="example-form"> -->
                     <!-- <form [formGroup] ="form"   class="example-form"> -->
              
                      
          <mat-form-field class="example-full-width">
            <input matInput placeholder="First Name">
          </mat-form-field>
    
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Last Name">
          </mat-form-field>
<p>
          <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
            <mat-button-toggle value="Male">Male</mat-button-toggle>
            <mat-button-toggle value="Female">Female</mat-button-toggle>
          </mat-button-toggle-group>
        </p>
      <p>
          <mat-form-field class="example-full-width">
            <input matInput placeholder="City">
          </mat-form-field>
  
             
          <mat-form-field class="example-full-width">
              <input matInput placeholder="Email">
            </mat-form-field>
     
        
         
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Phone">
            </mat-form-field>
            </p>
       
       
      <!-- </form> -->

              <mat-form-field class="example-full-width">
                <input matInput placeholder="Weight">
              </mat-form-field>
        
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Height">
              </mat-form-field>
    <p>
              <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
                <mat-button-toggle value="Yes">Taking Medication</mat-button-toggle>
                <mat-button-toggle value="No">Not Taking Any Medication</mat-button-toggle>
              </mat-button-toggle-group>
            </p>
              <mat-form-field class="example-full-width">
                <input matInput placeholder="State">
              </mat-form-field>
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Address">
              </mat-form-field>
              <mat-form-field class="example-full-width">
                <input matInput placeholder="postal code">
              </mat-form-field>
                           
           
          <!-- </form> -->

    </div>
</div>

