<div class="container belowHeader">
  <div class="row content">
    <div class="col-sm-2 sidenav">
      <div class="row">
        <div class="col-lg-12 col-sm-12 col-md-12">
          <img class="img-circle" alt="100x200" src="../../../../assets/dctr1.png" height=100px width="100px">
        </div>
            <h6> Dr.ABCD </h6>   
      </div>


      <div class="vertical-menu">
        <a [routerLink]="['dashboard']">Dashbboard</a>
        <a href=#>Update Profile</a>
        <a [routerLink]="['payments']">Payments</a>

      </div>


    </div>

    <div class="col-sm-10 col-lg-10 col-md-10">
      <div class="topheader"> DOCTOR DASHBOARD</div>

      <div class="row">
        <div class="col-sm-12 col-lg-12 col-md-12">
          <router-outlet></router-outlet>
        </div>
      </div>

    </div>

  </div>

  <div class="aboveFooter"></div>