<!-- <div class="container-fluid"> -->

    <!-- Heading Row -->
    <div class="row align-items-center my-5 bg-orange" >
      <div class="col-lg-8">
     
      </div>
      <!-- /.col-lg-8 -->
      <div class="col-lg-4">
        <h1 class="font-weight-bold ">Business Name or Tagline</h1>
        <p class="font-white">Desciption about web site goes here.  </p>
       
      </div>
      <!-- /.col-md-4 -->
    </div>
    <!-- /.row -->

    <!-- Call to Action Well -->
    <!-- <div class="card text-white bg-secondary my-5 py-4 text-center">
      <div class="card-body">
        <p class="text-white m-0">Choose any of the below options !!</p>
      </div>
    </div> -->

    <!-- Content Row -->
    <div class="row">
      <div class="col-md-4 mb-5   ">
        <div class="card shadow p-3  bg-white">
            <span class="badge bg-orange font-white">starting at Rs.150 /-</span>              
            <img src="..\assets\HeaderImages\download.jpg " height="5px" class="card-img-top img-fluid " alt="...">
          <div class="card-body">
            <h2 class="card-title">Consult Doctor</h2>
             <p class="card-text">Get Connected with your doctor in seconds</p>
          </div>
          <div class="card-footer">
            <a routerLink="/patient"class="btn btn-danger btn-sm bg-orange">Get Started</a>
          </div>
        </div>
      </div>
      <!-- /.col-md-4 -->
      <div class="col-md-4 mb-5">
        <div class="card shadow p-3  bg-white ">
            <span class="badge bg-orange font-white">starting at Rs.200 /-</span>
            <img src="..\assets\HeaderImages\lab.jpg " height="50%" width="50%" class="card-img-top img-fluid rounded" alt="...">
          <div class="card-body">
            <h2 class="card-title">Book Lab Test</h2>
            <p class="card-text">Book Lab Test and see your records</p>
          </div>
          <div class="card-footer">
            <a href="#" class="btn btn-danger btn-sm bg-orange">Get Started</a>
          </div>
        </div>
      </div>
      <!-- /.col-md-4 -->
      <div class="col-md-4 mb-5 ">
        <div class="card  shadow p-3  bg-white">
            <span class="badge bg-orange font-white">Takes a second to get registered</span>
            <img src="..\assets\HeaderImages\registered.jpg " height="10px" class="card-img-top img-fluid " alt="...">
          <div class="card-body">
            <h2 class="card-title">Register</h2>
            <p class="card-text">Get Register to  connect doctor/pharmacy and Lab . View all your record at one place.</p>
          </div>
          <div class="card-footer">
            <a href="#" class="btn btn-danger btn-sm bg-orange">Get Started</a>
          </div>
        </div>
      </div>
      <!-- /.col-md-4 -->

    </div>
    <!-- /.row -->

  <!-- </div> -->
  <!-- /.container -->