<div class="form-card">
    <h2 class="fs-title">Payment Information</h2>
    <div class="radio-group">
        <div class='radio' data-value="credit"><img src="https://i.imgur.com/XzOzVHZ.jpg" width="200px" height="100px"></div>
        <div class='radio' data-value="paypal"><img src="https://i.imgur.com/jXjwZlj.jpg" width="200px" height="100px"></div> <br>
    </div> <label class="pay">Card Holder Name*</label> <input type="text" name="holdername" placeholder="" />
    <div class="row">
        <div class="col-9"> <label class="pay">Card Number*</label> <input type="text" name="cardno" placeholder="" /> </div>
        <div class="col-3"> <label class="pay">CVC*</label> <input type="password" name="cvcpwd" placeholder="***" /> </div>
    </div>
    <div class="row">
        <div class="col-3"> <label class="pay">Expiry Date*</label> </div>
        <div class="col-9"> <select class="list-dt" id="month" name="expmonth">
                <option selected>Month</option>
                <option>January</option>
                <option>February</option>
                <option>March</option>
                <option>April</option>
                <option>May</option>
                <option>June</option>
                <option>July</option>
                <option>August</option>
                <option>September</option>
                <option>October</option>
                <option>November</option>
                <option>December</option>
            </select> <select class="list-dt" id="year" name="expyear">
                <option selected>Year</option>
                <option selected>2020</option>
                <option selected>2021</option>
                <option selected>2023</option>
                
            </select> </div>
    </div>
</div>