
    <div class="content" fxLayout="row" fxLayoutGap="20px" >
      <div class="content" fxFlex="25%">
    <mat-card >
      <mat-card-header>
        <mat-card-title >Log in</mat-card-title>
      </mat-card-header>
  
      <form [formGroup] ="form"  class="example-form">
        <mat-card-content>
          <p>
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Username">
          </mat-form-field>
        </p>
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Password">
          </mat-form-field>
        </mat-card-content>
        <p>
        <button >Log in</button>
      </p>
      </form>
    </mat-card>
  </div>
</div>
<br><br>

