<div class="row">

    <div class="col-sm-12 col-lg-4 col-md-4">
        <div class="card shadow">
            <div class="card-title">Doctor Photo</div>
            <img class="card-img-center" src="../../../assets/dctr1.png" style="align-self:center;">
            <div class="card-body">


            </div>
        </div>
    </div>
    <div class="col-sm-12 col-lg-4 col-md-4">
        <div class="card shadow">
            <div class="card-title">ID Proof</div>
            <img class="card-img-top" src="../../../assets/dct2.jpg" style="align-self:center;">
            <div class="card-body">

            </div>
        </div>
    </div>
    <div class="col-sm-12 col-lg-4 col-md-4">
        <div class="card shadow">
            <div class="card-title">Doctor Proof</div>
            <img class="card-img-top" src="../../../assets/dct3.jpg" style="align-self:center;">
            <div class="card-body">

            </div>
        </div>

    </div>
</div>
<div class="row">
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <span class="horezentalText">
            <br>
            <h5>Company - </h5>
            <h6>Google </h6>
            <h5>Speaks - </h5>
            <h6>english, oriya, </h6>
            <h5>Address - </h5>
            <h6>1600 Amphitheatre Pkwy </h6>
            <h5>City - </h5>
            <h6>delhi </h6>
            <h5>State - </h5>
            <h6>delhi </h6>
            <h5>Postal Code - </h5>
            <h6>123456</h6>
        </span>
    </div>
</div>
<div class="row">
    <div class="col-lg-6">
        <button type="button" class="btn btn-success">Approve</button>

    </div>

    <div class="col-lg-6 ">
        <button type="button" class="btn btn-danger float-right ">Reject</button>
    </div>
</div>